.sort-block {
    width: 100%;
    max-width: 130px;
    background: #BDBDBD;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    padding: 35px 0 0 20px;
    button {
        margin-top: 10px;
    }
}