h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.user-profile {
    width: calc(100% - 75px);
    max-width: 445px;
    background: #FFFFFF;
    padding: 15px 40px 0px 35px;
    &__header {
        h1 {
            margin-bottom: 5px;
        }
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__data {
        width: calc(100% - 18px);
        padding: 10px 6px 20px 12px;
        margin-bottom: 10px;
        border: 1px solid #F3F3F3;
        border-radius: 8px;
        textarea {
            border: 1px solid #D8D8D8;
            resize: none;
            width: 99%;
            height: 55px;
            border-radius: 5px;
            font-size: 10px;
            margin-top: 3px;
        }
    }
    &__main {
        margin-top: 10px;
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        button[type='submit'] {
            background: #52CF4F;
            color: #FFFFFF;
            &:disabled {
                background: #AFAFAF;
            }
        }
    }
}